<div class="well">
  <div class="page-header"><h3>Enjoy the City at Half the Price</h3></div>
  <div class="row">
    <div class="span3">
      <div class="deal">
        <% @city.daily_deals.all[0..2].each do |deal| %>
          <%= deal.title %>
          <%= link_to(image_tag(deal.image_url), deal.url) %>
          <%= deal.description %>
          <%= to_dollars(deal.deal_price) %>
          <%= to_dollars(deal.original_price) %>
        <% end %>
      </div>
    </div>
    <div class="span3 offset1">
      <p>hi</p>
    </div>
    <div class="span3 offset1">
      <p>hi</p>
    </div>
  </div>
</div>