<div class="well">
  <div class="page-header page-top-header">Enjoy the City at Half the Price</div>
  <div class="row">
    <% if @city.no_local_deals %>
      <div class="span12">
        <ul class="unstyled">
        <% NationalDeal.all.each do |deal| %>
          <div class="span4 no_margin deal">
            <li><%= deal.description %></li>
            <li><%= link_to(image_tag(deal.image_url), deal.url) %></li>
            <li><%= deal.title %></li>
            <li><%= to_dollars(deal.deal_price) %></li>
            <li><%= to_dollars(deal.original_price) %></li>
          </div>
        <% end %>
        </ul>
      </div>
    <% else %>
      <div class="span12">
        <ul class="unstyled">
        <% @city.daily_deals.each do |deal| %>
          <div class="span4 no_margin deal">
            <li><%= deal.description %></li>
            <li><%= link_to(image_tag(deal.image_url), deal.url) %></li>
            <li><%= deal.title %></li>
            <li><%= to_dollars(deal.deal_price) %></li>
            <li><%= to_dollars(deal.original_price) %></li>
          </div>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>