<div class="well">
  <div class='page-header page-top-header'>Makin' It Rain</div>
  <div class="row">
    <div class="span5">
      <div class="bottom">Most Common Industries</div>
      <div class="well">
        <ul class="unstyled">
          <% @city.top_industries.each_with_index do |category, index| %>
          <div class="people-type">
            <% updated = index + 1 %>
            <li id="most_common_industries"><%= "#{updated}: #{category.name}" %></li>
          </div>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="span5">
      <div class="span5 offset1">
        <div class="row">
          <div class="bottom"> Average Commute Time (minutes) </div>
            <div class="well clearfix">
              <div class="span1 no_margin">
                <div class="description-header"><%= @city.name %></div>
                <p><%= format_as_minutes(@city.people_facts.first.average_commute_time)%></p>
              </div>
              <h4 class="versus">vs</h4>
              <div class="span1">
                <div class="description-header">National</div>
                <p><%=format_as_minutes(NationalFact.first.average_commute_time)%></p>
              </div>
            </div>
        </div>

        <div class="row">
          <div class="bottom">Median Home Value</div>
            <div class="well clearfix">
              <div class="span1 no_margin">
                <div class="description-header"><%= @city.name %></div>
                <p>$<%= number_with_delimiter(@city.people_facts.first.home_value, delimiter: ",")%></p>
              </div>
              <h4 class="versus">vs</h4>
              <div class="span1">
                <div class="description-header">National</div>
                <p>$<%= number_with_delimiter(NationalFact.first.home_value, delimiter: ",")%></p>
              </div>
            </div>
          </div>

          <div class="row">
          <div class="bottom">Main Mode of Transit</div>
            <div class="well clearfix">
              <div class="span2 no_margin">
              <% @city.transportation_types.each do |type| %>
                <p><%=type.description %></p>
              <% end %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


