<div class="well">
  <div class="page-header"><h3>Makin' It Rain</h3></div>
  <div class="row">
    <div class="span5">
      <p> Most Common Industries </p>
      <ul class="unstyled">
      <% @city.top_industries.each_with_index do |category, index| %>
        <% updated = index + 1 %>
        <li><%= "#{updated}: #{category.name}" %></li>
      <% end %>
      </ul>
    </div>

    <div class="span5">
      <div class="row">
      <h4>Average Commute Time(minutes)</h4>
        <div class="span1" style="margin-left:0px">
          <div><%= @city.name %></div>
          <div class="average-commute-time"><%= format_as_minutes(@city.people_facts.first.average_commute_time)%></div>
        </div>
        <div class="span1">
          <div class="vs">vs</div>
        </div>
        <div class="span1">
          <div>National</div>
          <div class="average-commute-time"><%=format_as_minutes(NationalFact.first.average_commute_time)%></div>
        </div>
      </div>

      <div class="row">
      <h4>Average Home Value</h4>
        <div class="span1" style="margin-left:0px">
          <div><%= @city.name %></div>
          $<%= number_with_delimiter(@city.people_facts.first.home_value, delimiter: ",")%>
        </div>
        <div class="span1">
          <div class="vs">vs</div>
        </div>
        <div class="span1">
          <div>National</div>
          $<%= number_with_delimiter(NationalFact.first.home_value, delimiter: ",")%>
        </div>
      </div>

      <div class="row">
      <h4>Gettin' To Work</h4>
        <div class="span2" style="margin-left:0px">
          <ul class="unstyled">
            <% @city.transportation_types.each do |type| %>
              <li><%=type.description %></li>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>


