<div class="well">
  <div class='page-header page-top-header'>Meet the family</div>
  <div class="row">
    <div class="span5">
      <h3>Groups of People Who Live Here</h3>
      <ul class="unstyled">
        <% @city.people_types.each do |type| %>
          <li><h4><%= type.name.titleize %></h4></li>
          <li><%= type.description %></li>
        <% end %>
      </ul>
    </div>

    <div class="span5">
      <div class="row">
        <div class="span2 offset1">
          <h4> Single Males </h4>
          <% @city.people_facts.each do |fact| %>
            <h5><%= @city.name %></h5>
            <%= format_as_percentage(fact.single_males) %>
          <% end %>
        </div>
        <div class="span2">
          <h5>National</h5>
          <%= format_as_percentage(NationalFact.first.single_males) %>
        </div>
      </div>
    </div>
  </div>

</div>

