<div class="well">
  <div class='page-header page-top-header'>Meet the family</div>
  <div class="row">
    <div class="span5">
      <div class="bottom">Groups of People Who Live Here</div>
      <div class="well">
        <ul class="unstyled">
          <% @city.people_types.each do |type| %>
          <div class="people-type">
            <li><span class="description-header"><%= type.name.titleize %></span></li>
            <li><%= type.description %></li>
          </div>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="span5">
      <div class="span5 offset1">
        <div class="row">
          <div class="bottom"> Single Males </div>
            <div class="well clearfix">
              <div class="span1 no_margin">
              <% @city.people_facts.each do |fact| %>
                <div class="description-header"><%= @city.name %></div>
                <p><%= format_as_percentage(fact.single_males) %></p>
              <% end %>
              </div>
              <h4 class="versus">vs</h4>
              <div class="span1">
                <div class="description-header">National</div>
                <p><%= format_as_percentage(NationalFact.first.single_males) %></p>
              </div>
            </div>
        </div>

        <div class="row">
          <div class="bottom">Single Females</div>
            <div class="well clearfix">
              <div class="span1 no_margin">
              <% @city.people_facts.each do |fact| %>
                <div class="description-header"><%= @city.name %></div>
                <p><%= format_as_percentage(fact.single_females) %></p>
              <% end %>
              </div>
              <h4 class="versus">vs</h4>
              <div class="span1">
                <div class="description-header">National</div>
                <p><%= format_as_percentage(NationalFact.first.single_females) %></p>
              </div>
            </div>
          </div>

          <div class="row">
          <div class="bottom">Median Age</div>
            <div class="well clearfix">
              <div class="span1 no_margin">
              <% @city.people_facts.each do |fact| %>
                <div class="description-header"><%= @city.name %></div>
                <p><%= fact.median_age %></p>
              <% end %>
              </div>
              <h4 class="versus">vs</h4>
              <div class="span1">
                <div class="description-header">National</div>
                <p><%= NationalFact.first.median_age %></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

