<div class="well span2 quick_dash_container">
  <div class="quick_dash_title">Current Weather</div>
  <div class="row">
    <ul class="unstyled">
      <div class="span1">
        <li id="weather_icon"><%= image_tag(as_photo(@weather.icon)) %></li>
      </div>
      <div class="span1 no_margin" style="width:110px">
        <li>Temp: <%= @weather.temperature %> F</li>
        <li><%= @weather.humidity %></li>
        <li><%= @weather.condition %></li>
      </div>
    </ul>
  </div>
</div>

<div class="well span2 quick_dash_container">
  <div class="quick_dash_title">Walk Score</div>
  <ul class="unstyled">
    <div class="walkscore">
      <li style="padding-bottom:8px"><%= @city.walk_score.score %></li>
    </div>
  </ul>
  <div class="bottom_caption"><span class="label label-info" style="font-size:19px"><%= @city.walk_score.description %></span></div>
</div>
<div class="clearfix"></div>