<div class="well">
  <div class="page-header page-top-header">Let's Juxtapose People's Feelings via Twitter</div>
  <div class="row">
    <div class="span5">
      <div class="bottom"><%= "Love #{@city.name}" %> </div>
      <ul class="unstyled">
      <% @city.love_tweets.each do |post| %>
        <div class="well"><li><strong><%= "#{post.tweeted_by} exclaims: " %></strong><%="#{post.tweet}" %></li></div>
      <% end %>
      </ul>
    </div>

    <div class="span5 offset1">
    <div class="bottom"><%= "Hate #{@city.name}" %> </div>
      <ul class="unstyled">
      <% @city.hate_tweets.each do |post| %>
        <div class="well"><li><strong><%= "#{post.tweeted_by} scoffs: " %></strong><%="#{post.tweet}" %></li></div>
      <% end %>
      </ul>
    </div>
  </div>
</div>