<p id="notice"><%= notice %></p>

<ul>
  <li><h1><%= @city.full_name %></h1></li>
  <li><%= image_tag(@city.display_photo) %></li>
</ul>

<%= render 'walkscore' %>
<%= render 'weather' %>
<%= render 'economy' %>
<%= render 'people' %>
<%= render 'deals' %>


