<style type="text/css">
  body {
    -webkit-background-size: cover;
    -moz-background-size: cover; -o-background-size: cover;
    background-size: cover;
    height: 100%;
    gradient(#8a8a8a, #4a4a4a);
    background-image: url("http://all-free-download.com/downloadfiles/wallpapers/1920_1200_widescreen/blue_city_wallpaper_vector_3d_wallpaper_1920_1200_widescreen_120.jpg"); margin: 0; background-repeat: no-repeat; background-attachment: fixed; }

</style>

<div class="row">
  <div class="pull-right"><%= button_to "New Search", root_path, class: "btn btn-large btn-inverse" %></div>
  <div class="clearfix"></div>
  <div class="well span6">
    <div class="page-header title_text"><%= @city.full_name %></div>
    <div class="bottom"><%= @city.tagline %></div>
  </div>
  <%= render 'quick_dash' %>
</div>


<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">People</a></li>
    <li><a href="#tab2" data-toggle="tab">Economy</a></li>
    <li><a href="#tab3" data-toggle="tab">Things To Do</a></li>
    <li><a href="#tab4" data-toggle="tab">Places To Go</a></li>
    <li><a href="#tab5" data-toggle="tab">Photos</a></li>
    <li><a href="#tab6" data-toggle="tab">Hate It or Love It</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render 'people' %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= render 'economy' %>
    </div>
    <div class="tab-pane" id="tab3">
      <%= render 'deals' %>
    </div>
    <div class="tab-pane" id="tab4">
      <%= render 'recommended_places' %>
    </div>
    <div class="tab-pane" id="tab5">
      <%= render 'photos' %>
    </div>
    <div class="tab-pane" id="tab6">
      <%= render 'tweets' %>
    </div>
  </div>
</div>


